// Footer
.footer {
  flex: 0 0 auto;
  color: #a8a8a8;
  background-color: #272723;
  font-size: $footer-font-size;
  line-height: 1.4;

  .social-icon {
    color: #fff;
    background-color: #33332f;
    margin-bottom: 0;
    width: 4.8rem;
    height: 4.8rem;
    font-size: 1.8rem;

    + .social-icon {
      margin-left: .6rem;
    }

    &:hover,
    &:focus {
      color: #fff;
      background-color: #5a5a56;
    }
  }

  .contact-info {
    padding: 0;
    margin: 0;
  }

  .product.product-sm {
    background-color: transparent;
    margin-bottom: 1.3rem;
    padding-top: .7rem;

    .product-image-container {
      border: 1px solid #e8e8e8;
      float: left;
    }

    .product-details {
      margin-left: 98px;
      padding-top: .5rem;
    }

    .product-title {
      font-size: 1.3rem;
      color: #a8a8a8;
      margin-bottom: 1rem;
      
      a {
        &:hover,
        &:focus {
          color: #fff;
        }
        
      }
    }
    
    .ratings-container {
      margin-bottom: .8rem;

      .product-ratings,
      .ratings {
        font-size: 1.1rem;
      }

      .product-ratings {
        height: 11px;

        &::before {
          color: #61615e;
        }
      }

      .ratings {
        &::before {
          color: #90908b;
        }
      }
    }

    .price-box {
      color: #90908b;
    }
  }
}

.footer-middle {
  padding: 4rem 0 1.6rem;
}

.footer .widget-title {
  color: #fff;
  font: 400 1.5rem/1.1 $second-font-family;
  letter-spacing: .08rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.footer-top {
  padding-top: 5rem;
  border-bottom: 1px solid #3d3d38;
}

.footer .widget {
  margin-bottom: 2.9rem;
}

.footer .links {
  margin-bottom: 0;
}

.footer .links li {
  position: relative;
  margin-bottom: .7rem;
}

.footer a {
  color: inherit;
}

.footer a:hover,
.footer a:focus {
  color: #fff;
  text-decoration: underline;
}

.footer .widget-social {
  @include clearfix;
  margin-bottom: 3rem;
}

.widget-about {
  p {
    line-height: 1.85;
    max-width: 460px;
  }
}

.contact-info {
  margin-bottom: 0;
}

.contact-info li {
  position: relative;
  line-height: 1.4;
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: .5rem;
  }
}

.contact-info-label {
  display: block;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

.footer .widget.widget-newsletter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: center;

  .widget-title {
    flex: 0 0 auto;
    padding-right: 2.2rem;
  }

  form {
    flex: 1 1 auto;
    margin-bottom: 0;
    max-width: 345px;
  }

  .form-control {
    margin-bottom: 0;
  }
}

.widget-newsletter form {
  position: relative;
  margin-bottom: 0;
  max-width: 390px;
}

.widget-newsletter .form-control {
  height: 4.4rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  color: #686865;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 1.05rem 14rem 1.05rem 2.5rem;
  margin-bottom: 1rem;
  border-radius: 40px;
}

.widget-newsletter .form-control:focus {
  color: #686865;
  border-color: #f2f2f2;
  background-color: #f2f2f2;
}

.widget-newsletter .form-control::-webkit-input-placeholder {
  color: #686865;
}

.widget-newsletter .form-control:-ms-input-placeholder {
  color: #686865;
}

.widget-newsletter .form-control::-ms-input-placeholder {
  color: #686865;
}

.widget-newsletter .form-control::placeholder {
  color: #686865;
}

.widget-newsletter .btn {
  position: absolute;
  right: -1px;
  top: 0;
  display: inline-block;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  font-family: $font-family;
  letter-spacing: 0;
  color: #fff;
  border: 0;
  background-color: #5a5a56;
  text-transform: uppercase;
  border-radius: 0;
  padding: 1.5rem 2.5rem 1.5rem 1.9rem;
  border-radius:0  40px 40px 0;
  min-width: 121px;
}

.widget-newsletter .btn:hover,
.widget-newsletter .btn:focus {
  color: #fff;
  background-color: #4a4a4a;
}

.twitter-feed {
  @include clearfix;
  margin-bottom: 2rem;

  figure {
    float: left;
    max-width: 69px;
    margin-top: .7rem;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

.twitter-feed-content {
  margin-left: 100px;
  line-height: 1.85;

  strong {
    font-weight: 500;
    color: #fff;
  }

  a {
    color: #379deb;
  }

  p {
    margin-bottom: .6rem;
  }
}

.twitter-feed-action {
  display: flex;
  align-items: center;
  a {
    color: #9b9b9b;

    & + a {
      margin-left: 1.2rem;
    }

    &:last-child {
      margin-left: auto;
    }
  }
}

.footer-bottom {
  padding-top: 2.8rem;
  padding-bottom: 4rem;
  border-top: 1px solid #3d3d38;
}

.footer-copyright {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5rem;
  text-align: center;
}

.footer-payments {
  margin-right: auto;
  margin-left: auto;
}

// Scroll Top Button
#scroll-top {
  height: 40px;
  position: fixed;
  right: 15px;
  width: 40px;
  z-index: 9999;
  bottom: 0;
  background-color: #404040;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 1;
  padding: 11px 0;
  visibility: hidden;
  opacity: 0;
  border-radius: 0;
  transition: all .3s;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}

#scroll-top:hover,
#scroll-top:focus {
  background-color: #555;
}

#scroll-top.fixed {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

@media screen and (min-width: 480px) {
  .footer .widget.widget-newsletter {
    flex-direction: row;

    .widget-title {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .footer-top {
    padding-top: 6.6rem;
  }

  .footer-top .widget {
    margin-bottom: 4rem;
  }

  .footer-middle {
    padding-top: 3.8rem;
  }

  .footer-bottom {
    padding-bottom: 9rem;
  }

  .footer .widget.widget-newsletter {
    margin-bottom: 0;
    justify-content: flex-start;
  }

  .footer-copyright {
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    text-align: left;
  }

  .footer-payments {
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 0;
  }

  .footer .social-icons {
    justify-content: flex-end;
    margin-top: 3.3rem;
  }
}